body{
    font-family: sans-serif;
    margin: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url("https://images.unsplash.com/photo-1501436513145-30f24e19fcc8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=388&q=80");
    background-size: cover;
    
}
h2{
    font-size: 400%;
   text-transform: uppercase;
   word-spacing: 4px;
   text-align: center;
   color: white;
    
}
.clock{
    display: flex;
}
.clock div{
    margin: 5px;
    position: relative;
}
.clock span{
    height: 80px;
    width: 100px;
    background: slateblue;
    opacity: .8;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-shadow: 2px 2px 4px black 0.3;


}
.clock .text{
    height: 30px;
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: darkblue;
    opacity: 0.8;

}
.clock #ampm{
    bottom: 0%;
    position: absolute;
    height: 28px;
    width: 56px;
    font-size: 20px;
    background-color: green;


}

